<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .field-validation-error {
            color: #6600cc;
        }

        .validation-summary-errors {
            color: #6600cc;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #6600cc;
            background-color: #e6ccff;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #6600cc;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>